<h2><%= @task.name %></h2>
<p><%= @task.details %></p>
<% if @task.completed %>
<p><%= 'Completed'  %></p>
<% else %>
<p><%= 'The task is not completed yet' %></p>
<%= link_to "Back to the list", "/tasks" %>
<% end  %>

<%= link_to('Edit', edit_task_path(@task)) %>

 <%= link_to 'Delete',
            task_path(@task),
            method: :delete,
            data: { confirm: "Are you sure?" } %>
